<li id="point-<%= point.id %>">
  <%= link_to gravatar_for(point.user, size: 50), point.user %>
  <span class="user"><%= link_to point.user.name, point.user %></span>
  <span class="amount"><%= point.amount %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(point.created_at) %> ago.
  </span>
</li>