<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
  <div class="col-md-8">
     <% if @user.point_histories.any? %>
      <ol class="points">
        <h3>あなたは<%= @user_point.amount %>です！</h3>
        <%= link_to "ポイントを使う方はこちらへ", "points/new",method: :get %>
        <%= render @point_histories %>
      </ol>
    <% end %>
  </div>
</div>